<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta>
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="keywords" content="融资性贸易，托盘贸易，供应链金融，贸易性融资，敞口贸易，仓储质押">
<meta name="description" content="依托多维度数据，形成针对企业完善的信用评估和风险量化体系，在委托采购、委托销售和金融仓储等产融结合的供应链服务中，全面赋能成员企业。" />
<meta name="author" content="四川金蜜信息技术有限公司">
<!-- <link rel="icon" href="/assets/logo.png" type="img/x-ico" /> -->
<!-- <title><%= context.title %></title> -->
<title>领蜂供应链——布局产融生态，缔造行业价值</title>
</head>
<body>

<div id="root"></div>

</body>
</html>